@import 'Variables';
.body--Cart{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 90px;
    
    img{
        width: 445px;
        height: 445px;
        border-radius: 15px;
    }
    .photo--Bar{
        display: flex;
        margin-top: 20px;
        img{
            width: 88px;
            height: 88px;
            margin-right: 26px;
            border-radius: 10px;
            border: 2px solid white;
        }
        img:hover{
            opacity: 0.7;
            cursor: pointer;
            border: 2px solid #FF7E1B;
        }
    }
    .photo--absolute{
        position: absolute;
        top:0%;
        left: 0%;
        width: 100%;
        height: 100%;
        section{
            margin-left: 37%;
            margin-top: 5%;
        }
        .btn--Close{
            position:  absolute !important;
            z-index: 2 !important;
            
            margin-left: 530px;
            
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
        }
        .main--Photo--Absolute {
            position:  absolute !important;
            
            margin-top: 30px;
            z-index: 2 !important;
            height: 550px;
            width: 550px;
          }
        .svg--Left{
            position:  absolute !important;
            z-index: 3!important;
            margin-top: 250px !important;
            margin-left: -30px;
            width: 50px;
            cursor: pointer;
            border-radius: 100%;
            border: none;
        }
        .svg--Left:hover{
            color: #FF7E1B;
        }
        .svg--Right{
            position:  absolute !important;
            z-index: 3 !important;
            margin-top: 250px !important;
            margin-left: 531px;
            width: 50px;
            
            cursor: pointer;
            border-radius: 100%;
            border: none;

        }
        .svg--Right:hover{
            color: #FF7E1B;
        }
        .photo--Bar--Absolute{
            position:  absolute !important;
            
            margin-top: 600px;
            margin-left: 50px;
            z-index: 2 !important;
            img{
                width: 88px;
                height: 88px;
                margin-right: 31px;
                border: 2px solid transparent;
                
            }
            img:hover{
                opacity: 0.7;
                cursor: pointer;
                border: 2px solid #FF7E1B;
            }
          }
          .dark--Theme{
            position: absolute;
            opacity: 0.7;
            background-color: black;
            z-index: 1;
            top:0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
    }
    .body--Description{
        margin-left: 100px;
        width: 445px;
        h5{
            font-family: Kumbh Sans;
            font-size: 13px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 2px;
            text-align: left;
            color: #FF7E1B;
        }
        h1{
            font-family: Kumbh Sans;
            font-size: 44px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: 0px;
            text-align: left;

        }
        h4{
            font-family: Kumbh Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
            color: #69707D;
        }
        span{
            
            
            h3{
                display: inline-block;
                font-family: Kumbh Sans;
                font-size: 28px;
                font-weight: 700;
                line-height: 35px;
                letter-spacing: 0px;
                text-align: left;

            }
            h4{
                display: inline-block;
                font-family: Kumbh Sans;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                margin-left: 13px;
                background-color: #FFEEE2;
                color: #FF7E1B;
                padding: 4px 8px 4px 8px;

            }
            h5{
                font-family: Kumbh Sans;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: left;
                color:#B6BCC8;
                display:block;
                margin-top: -20px;

            }

        }
        .body--Btn{
            display: flex;
            .minus--Btn{
                color:#FF7E1B;
                font-size: 30px;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
                
            }
            .minus--Btn:hover{
                opacity: 70%;
            }
            .plus--Btn{
                color:#FF7E1B;
                font-size: 20px;
                font-weight: 700;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FFFFFF;
            }
            .plus--Btn:hover{
                opacity: 70%;
            }
            h4{
                @include h4style;
                color: black !important;
                font-size: 16px !important;
                font-weight: 700 !important;
                padding-left: 25px;
                padding-right: 25px;
                width: 10px;
            }
            .add--Btn{
                width: 272px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
                background-color: #FF7E1B;
                border: none;
                border-radius: 10px;
                color:#FFFFFF;
                cursor: pointer;;

                h4{
                    @include h4style;
                    margin-left: 10px;
                    color: white !important;
                    font-weight: 700 !important;
                    width: 89px;
                }
            }
            .add--Btn:hover{
                opacity: 70%;
            }
        }

    }


}
body{
    margin: 0;
    padding: 0;


}
